<% unless comment.archived? %>
    <div class="comment">
        <p>
            <strong>Commenter:</strong>
            <%= comment.commenter %>
        </p>
        <p>
            <strong>Comment:</strong>
            <%= comment.body %>
        </p>
        <p>
            <%unless @article.archived?%>
                <%= link_to "Delete".html_safe, [comment.article, comment], data: {
                          turbo_method: :delete}, :class=>"btn btn-primary btn-md" %>
            <%end%>
        </p>
    </div>
<%end%>