<% unless comment.archived? %>
    <div class="comment">
        <p>
            <strong>Commenter:</strong>
            <%= comment.commenter %>
        </p>
        <p>
            <strong>Comment:</strong>
            <%= comment.body %>
        </p>
        <p>
            <%unless @article.archived?%>
                <%= link_to "Destroy Comment", [comment.article, comment], data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure?"
                        } %>
            <%end%>
        </p>
    </div>
<%end%>