<form class="was-validated">
    <center>
        <h1>New Post</h1>
        <div class="col-md-4">
            <label for="validationServer01" class="form-label">Title</label>
            <input type="text" class="form-control is-valid" id="validationServer01" placeholder="This site is great!" required>
            <div class="invalid-feedback">
                You must have a title for your article.
            </div>
        </div>

        <div class="col-md-4">
        <label for="validationServer01" class="form-label">Author</label>
        <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Callum The Wise" required>
        <div class="invalid-feedback">
            You must have your name on your article.
        </div>
        </div>

        <div class="col-md-4">
        <label for="validationTextarea" class="form-label">Article Body</label>
        <textarea class="form-control" id="validationTextarea" placeholder="This website is great..." required></textarea>
        <div class="invalid-feedback">
            You must have a body for your article.
        </div>
        </div>

        <div class="col-md-3">
            <label for="validationServer04" class="form-label">Status</label>
            <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" required>
            <option selected disabled value="">Select</option>
            <option value="Public">Public</option>
            <option value="Archived">Archived</option>
            <option value="Private">Private</option>
            </select>
        </div>

        <br>

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
  </center>
</form>
