<h1>Admin Panel</h1>
There are currently <%= Article.real_count%> posts on the site and <%= Comment.real_count%> comments.
<%= link_to "View Archive", "archive" %>
<%= link_to "View Private", "private" %>