<h1>Admin Panel</h1>
There are currently <%= Article.real_count%> posts on the site and <%= Comment.real_count%> comments. </br>
These numbers include hidden and archived posts and comments.
<%= link_to "View Archived posts", "archive" %>
<%= link_to "View Privated posts", "private" %>