/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2276c9;
}

li {
  float: left
}

a {
  display: block;
  padding: 8px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.Article {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  max-width: 50%;
}

.ArticleShow {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  max-width: 75%;

}

.CoolTitle {
  border-bottom: 2px solid black;
  max-width: 300px;
}

h2 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

button {
  size: 100px;
}

.comment {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  max-width: 300px;
}